.modal-container {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000a;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  z-index: 100;
}
.modal-off {
  display: none;
}

.exit-modal {
  font-weight: bold;
  cursor: pointer;
}

.overflow-scroll {
  overflow-y: auto !important;
}
